parameters:
    level: max
    paths:
        - packages/curl/src
        - packages/google/src
        - packages/google-spreadsheet-seo-scraper/src
        - packages/extractor/src
        - packages/text-analyzer/src
        - packages/seo-pocket-crawler/src