@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tooltip {
    position: absolute;
    visibility:hidden;

}

.has-tooltip:hover .tooltip,
.has-tooltip:focus .tooltip {
    visibility: visible;
}