@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "tippy.js/dist/tippy.css";
@import 'tippy.js/themes/light.css';

.tooltip {
    position: absolute;
    visibility:hidden;

}

.has-tooltip:hover .tooltip,
.has-tooltip:focus .tooltip {
    visibility: visible;
}